[submodule "moka-icon-theme"]
	path = moka-icon-theme
	url = https://github.com/snwh/moka-icon-theme
[submodule "moka-icon-theme-symbolic"]
	path = moka-icon-theme-symbolic
	url = https://github.com/snwh/moka-icon-theme-symbolic
[submodule "moka-icon-theme-extras"]
	path = moka-icon-theme-extras
	url = https://github.com/snwh/moka-icon-theme-extras
[submodule "moka-icon-theme-dark"]
	path = moka-icon-theme-dark
	url = https://github.com/snwh/moka-icon-theme-dark
[submodule "moka-icon-theme-blue"]
	path = moka-icon-theme-blue
	url = https://github.com/snwh/moka-icon-theme-blue
[submodule "moka-mono-dark"]
	path = moka-mono-dark
	url = https://github.com/snwh/moka-mono-dark
[submodule "moka-mono-light"]
	path = moka-mono-light
	url = https://github.com/snwh/moka-mono-light
