[submodule "moka-icon-theme"]
	path = moka-icon-theme
	url = https://github.com/snwh/moka-icon-theme
[submodule "moka-icon-theme-symbolic"]
	path = moka-icon-theme-symbolic
	url = https://github.com/snwh/moka-icon-theme-symbolic
[submodule "moka-mono-dark"]
	path = moka-mono-dark
	url = https://github.com/snwh/moka-mono-dark
[submodule "moka-mono-light"]
	path = moka-mono-light
	url = https://github.com/snwh/moka-mono-light
[submodule "pacifica-icon-theme"]
	path = pacifica-icon-theme
	url = https://github.com/fsvh/pacifica-icon-theme
[submodule "flattr-icons"]
	path = flattr-icons
	url = https://github.com/NitruxSA/flattr-icons
[submodule "numix-icon-theme-circle"]
	path = numix-icon-theme-circle
	url = https://github.com/numixproject/numix-icon-theme-circle
[submodule "numix-icon-theme"]
	path = numix-icon-theme
	url = https://github.com/numixproject/numix-icon-theme
[submodule "numix-icon-theme-shine"]
	path = numix-icon-theme-shine
	url = https://github.com/numixproject/numix-icon-theme-shine
[submodule "numix-icon-theme-utouch"]
	path = numix-icon-theme-utouch
	url = https://github.com/numixproject/numix-icon-theme-utouch
