[submodule "pacifica-icon-theme"]
	path = pacifica-icon-theme
	url = https://github.com/fsvh/pacifica-icon-theme
[submodule "flattr-icons"]
	path = flattr-icons
	url = https://github.com/NitruxSA/flattr-icons
[submodule "numix-icon-theme-circle"]
	path = numix-icon-theme-circle
	url = https://github.com/numixproject/numix-icon-theme-circle
[submodule "numix-icon-theme"]
	path = numix-icon-theme
	url = https://github.com/numixproject/numix-icon-theme
[submodule "numix-icon-theme-shine"]
	path = numix-icon-theme-shine
	url = https://github.com/numixproject/numix-icon-theme-shine
[submodule "numix-icon-theme-utouch"]
	path = numix-icon-theme-utouch
	url = https://github.com/numixproject/numix-icon-theme-utouch
[submodule "moka-icon-theme"]
	path = moka-icon-theme
	url = https://github.com/snwh/moka-icon-theme
[submodule "faba-icon-theme-symbolic"]
	path = faba-icon-theme-symbolic
	url = https://github.com/snwh/faba-icon-theme-symbolic
[submodule "faba-mono-icons"]
	path = faba-mono-icons
	url = https://github.com/snwh/faba-mono-icons
[submodule "faba-colors"]
	path = faba-colors
	url = https://github.com/snwh/faba-colors
[submodule "faba-icon-theme"]
	path = faba-icon-theme
	url = https://github.com/snwh/faba-icon-theme
