Package: ubo-icon-theme
Version: 0.1b
Section: x11
Priority: extra
Architecture: all
Installed-Size: 40
Maintainer: rxtx project (nodiscc@gmail.com)
Description: Ink ball pen drawn icon theme
 A hand drawn icon theme
